@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lavaLampAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-lava-lamp {
  background: linear-gradient(to bottom, #0d0d0d, #140626, #2f0740);
  background-size: cover;
}
